.listDiv {
    min-width: 1400px;
    padding: 20px;
    margin: 20px;
    padding-bottom: 50px;
}

.tasksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 5px 70px;
}

.taskText {
    color: rgb(21, 21, 21);
}

.listButton {
    background: linear-gradient(to bottom right, #5fafe1, #1f52bf);
    color: #f1f1f1;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px;
}