.taskDiv {
    border: solid 1px rgb(21, 21, 21);
    width: 60%;
    color: rgb(21, 21, 21);
    justify-content: space-evenly;
    margin: 1%;
    border-radius: 40px;
}

.taskButton {
    height: 30px;
    width: 25%;
    align-self: center;
    cursor: pointer;
    border: none;
    background-color: rgb(70, 70, 255);
    color: #f1f1f1;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}

.taskInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.taskText {
    font-weight: 700;
    font-size: 16px;
}

.taskDetails {
    align-self: center;
    margin: 10px;
}