.taskDiv {
    width: 100%;
    color: rgb(21, 21, 21);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(101, 100, 100);
}

.taskButton {
    height: 35px;
    width: 30%;
    align-self: center;
    cursor: pointer;
    border: none;
    background-color: rgb(70, 70, 255);
    color: #f1f1f1;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
    text-decoration: none;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.taskInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-self: center;
    margin: 10px;
}

.taskText {
    font-weight: 700;
    font-size: 18px;
    margin: 0px 10px;
}

.taskDivButtons {
    display: flex;
    flex-direction: row;
    width: 30%;
}